@import "utilities/variables";

html, body{
  width: 100%;
  height: 100%;
  position: relative;
  font-family: $default-font;
}

body{
  margin: 0;
  margin-top: $common-size + $nav-height;
  padding: 0;
  background-color: #FAFAFA;
}

input{
  &::-webkit-input-placeholder {
     font-style: italic;
  }

  &:-moz-placeholder {
     font-style: italic;
  }

  &::-moz-placeholder {
     font-style: italic;
  }

  &:-ms-input-placeholder {
     font-style: italic;
  }
}

.search-wrap{
  & > .rslt-view:not(:empty){
    @extend .border-box;
    @include shadow-box(1px, 1px, transparentize($border-color, .3));
    width: 100%;
    max-height: ($common-size + 10) * 9;
    background-color: white;
    display: none;
    transform: translateY(1px);
    position: absolute;
    left: 0;
    top: 100%;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &.collapse{
    & > .btn-icn:before{
      color: gray;
    }
    & > .rslt-view{
      display: block;
    }
  }
}

.search-field{
  @extend .border-box;
  height: $input-height;
  font-size: 13px;
  font-family: $default-font;
  font-weight: 400;
  border: none;
  border-top-left-radius: $global-border-radius;
  border-bottom-left-radius: $global-border-radius;
  outline: none;
  display: inline-flex;

  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  &.icon-contain + .btn-icn{
    @extend .center-inline-elem;
    height: $input-height;
    min-width: $input-height;
    color: $theme-color;
    background-color: white;
    border-top-right-radius: $global-border-radius;
    border-bottom-right-radius: $global-border-radius;
    font-size: 18px;
    display: inline-flex;
    cursor: text;
  }
}

.input-wrap{
  display: inline-flex;
  position: relative;
  outline: none;
}

.rslt-elem{
  height: $common-size;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
  margin: 0;
  font-size: 0;
  position: relative;
  display: flex;

  &:hover{
    background-color: $light-border-color;

    & .feat-icon{
      color: Tomato;
    }
  }

  & > .rslt-img{
    height: $common-size;
    width: $common-size;
    flex-shrink: 0;
    background-size: contain;
  }

  & > .info-container{
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 15px;
    display: block;
    flex-direction: column;
    position: relative;

    & > .item-name{
      width: 300px;
      line-height: 20px;
      font-weight: 800;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
    }

    & > .item-info{
      width: 300px;
      color: gray;
      font-size: 12px;
      line-height: 20px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
    }
  }
}

.feat-icon{
  color: gray;
}

.nav-wrapper{
  width: 100%;
  height: $nav-height;
  background-color: white;
  position: relative;
}

mark{
  font-weight: 300;
  // color: transparentize(black, .2);
  background-color: transparent;
}
