@import "utilities/variables";

.header-bar{
  @extend .center-block-elem;
  @extend .border-box;
  width: 100%;
  background-color: $theme-color;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
}

.header-container{
  @extend .border-box;
  width: $header-width;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  display: inline-flex;
  justify-content: space-between;
  z-index: 1;
}

.header-elem-wrapper{
  @extend .center-inline-elem;
  height: $common-size;
  position: relative;
  vertical-align: top;

  & > i{
    padding-right: 5px;
    color: white;
    font-size: 22px;
  }

  & > .title{
    color: white;
    font-size: 18px;
    font-weight: 500;
  }
}

.header-search-wrap{
  & .input-wrap{
    margin-left: 10px;
    margin-right: 10px;
    & > .search-field{
      width: 400px;
    }
  }
}

.sale-tag{
  color: Tomato;
  font-size: 12px;
  font-weight: 800;
}

@media screen and (max-width: 1000px) {
  body {
    & .header-container{
      width: 100%;
    }
  }
}

@media screen and (max-width: 580px) {
  body {
    & .title{
      display: none;
    }
  }
}
