@import "utilities/variables";

.header-bar{
  @extend .center-block-elem;
  @extend .border-box;
  width: 100%;
  background-color: $theme-color;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
}

.header-container{
  @extend .border-box;
  width: $header-width;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  display: inline-flex;
  justify-content: space-between;
  z-index: 1;
}

.header-elem-wrapper{
  @extend .center-inline-elem;
  height: $common-size;
  position: relative;
  vertical-align: top;

  & > i{
    padding-right: 5px;
    color: white;
    font-size: 22px;
  }

  & > .title{
    color: white;
    font-size: 18px;
    font-weight: 500;
  }

  & > button:not(.icon-button){
    height: 28px;
    line-height: 26px;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background-color: transparent;
    vertical-align: middle;
    font-size: 13px;
    font-family: $default-font;
    letter-spacing: .5px;
    border: none;
    border-radius: $global-border-radius;
    cursor: pointer;
    outline: none;
    position: relative;

    &:hover{
      background-color: darken($theme-color, 5%);
    }
  }

  & > .icon-button{
    @extend .border-box;
    padding: 0;
    color: darken($theme-color, 20%);
    background-color: transparent;
    border: none;
    border-radius: $global-border-radius;
    cursor: pointer;
    outline: none;

    & > i:before{
      font-size: 25px;
    }

    &.collapse{
      color: white;
    }
  }
}

.header-search-wrap{
  & .input-wrap{
    margin-left: 10px;
    margin-right: 10px;
    & > .search-field{
      width: 400px;
    }
  }
}

.sale-tag{
  color: Tomato;
  font-size: 12px;
  font-weight: 800;
}

nav{
  @extend .border-box;
  width: $header-width;
  height: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  position: relative;

  & > .nav-elem{
    @extend .border-box;
    min-width: 80px;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    color: $dark-border-color;
    font-size: 15px;
    font-weight: 400;
    line-height: $nav-height;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    position: relative;
    cursor: pointer;

    & > .nav-icon{
      padding-right: 5px;
    }

    &.active{
      color: $theme-color;
      font-weight: 600;
      border-bottom: solid 3px $border-color;
    }
  }
}

@media screen and (max-width: 1000px) {
  body {
    & .header-container{
      width: 100%;
    }
  }
}

@media screen and (max-width: 700px) {
  body {
    & .title{
      display: none;
    }
    & button:not(.icon-button){
      display: none;
    }
  }
}
